<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierres Treats!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/styles.css">
  </head>
  <body>
    <br>
    <br>
    <br>
    <div class="container">
      @RenderBody()
    </div>
    <img src="https://nooblash.com/wp-content/uploads/2020/06/Artboard-16.png" alt="Bakery emblem" class="center">
  </body>
</html>