body {
  background-image: url(https://images.pexels.com/photos/4631955/pexels-photo-4631955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: center;
  background-size: 1500px 2200px;
  background-repeat: no-repeat;
  background-color: black;
  position: relative; 
  color: black;
  font-family: 'Merriweather', serif;
}

.container {
  background-image: url(https://images.pexels.com/photos/3769120/pexels-photo-3769120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: bottom;
  color:  black;
  opacity: 90%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 15px;
  border-style: double;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}