@{
  Layout = "_Layout";
}

<h1>The Recipe Box!</h1>
<button>@Html.ActionLink("See all Treats", "Index", "Treats")</button>
<button>@Html.ActionLink("See all Flavors", "Index", "Flavors")</button>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>